@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;
  --badge-for-small-size: Inter;
  --font-montserrat: Montserrat;

  /* font sizes */
  --sm-medium-size: 0.875rem;
  --badge-for-small-size-size: 0.625rem;
  --font-size-6xs: 0.438rem;
  --font-size-5xs: 0.5rem;
  --font-size-4xs: 0.563rem;
  --font-size-xs: 0.75rem;

  /* Colors */
  --color-gray-100: #29292e;
  --color-gray-200: #202024;
  --gray-200: #e5e7eb;
  --color-gainsboro-100: #e1e1e6;
  --blue-100: #dbeafe;
  --blue-200: #bfdbfe;
  --blue-500: #3b82f6;
  --gray-300: #d1d5db;
  --color-crimson-100: #f43f5e;
  --rose-600: #e11d48;
  --color-whitesmoke-100: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-400: #9ca3af;
  --color-darkgray-100: rgba(156, 163, 175, 0.6);
  --color-darkgray-200: rgba(156, 163, 175, 0.5);
  --white-white: #fff;

  /* Gaps */
  --gap-xl: 1.25rem;
  --gap-3xs: 0.625rem;
  --gap-5xs: 0.5rem;
  --gap-12xs: 0.062rem;
  --gap-6xs: 0.437rem;
  --gap-xs: 0.75rem;
  --gap-4xs: 0.562rem;
  --gap-7xs: 0.375rem;

  /* Paddings */
  --padding-xl: 1.25rem;
  --padding-xs: 0.75rem;
  --padding-mini: 0.937rem;
  --padding-12xs: 0.062rem;
  --padding-10xs: 0.187rem;
  --padding-10xs-5: 0.156rem;
  --padding-base: 1rem;
  --padding-2xs: 0.687rem;
  --padding-7xs: 0.375rem;
  --padding-11xs: 0.125rem;
  --padding-5xs: 0.5rem;
  --padding-9xs: 0.25rem;
  --padding-6xs: 0.437rem;
  --padding-5xs-5: 0.468rem;

  /* Border radiuses */
  --br-7xs: 6px;
  --br-980xl: 999px;
  --br-9xs: 4px;
  --br-base: 16px;
}



.logo-icon {
    height: 32px;
    width: 143px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .leading-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .text {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 20px;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 31px;
  }
  .navbarslink {
    border-radius: var(--br-7xs);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-xs);
  }
  .link-label {
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--badge-for-small-size);
    color: var(--color-whitesmoke-100);
    text-align: left;
    display: inline-block;
    min-width: 41px;
  }
  .navbarslink1 {
    cursor: pointer;
    border: 0;
    padding: 19.5px 17.5px 17px;
    background-color: transparent;
    border-bottom: 2px solid var(--rose-600);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .navbarslink1:hover {
    background-color: rgba(255, 66, 110, 0.09);
  }
  .text1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 20px;
    font-weight: 500;
    font-family: inherit;
    display: inline-block;
    min-width: 54px;
    white-space: nowrap;
  }
  .links,
  .navbarslink2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .navbarslink2 {
    border-radius: var(--br-7xs);
    justify-content: flex-start;
    padding: var(--padding-5xs) var(--padding-xs);
    font-size: var(--sm-medium-size);
  }
  .links {
    width: 242px;
    justify-content: space-between;
  }
  .avatar-icon,
  .navbarsavatar-menu-button {
    height: 32px;
    width: 32px;
    border-radius: var(--br-base);
    overflow: hidden;
    flex-shrink: 0;
  }
  .avatar-icon {
    position: relative;
  }
  .navbarsavatar-menu-button {
    background-color: var(--white-white);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .content,
  .navbardesktop,
  .trailing-content {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .trailing-content {
    height: 32px;
    width: 56px;
    justify-content: flex-start;
    padding: 0 0 0 24px;
  }
  .content,
  .navbardesktop {
    max-width: 100%;
  }
  .content {
    width: 944px;
    justify-content: space-between;
    padding: 0.5px 0;
    gap: var(--gap-xl);
  }
  .navbardesktop {
    align-self: stretch;
    background-color: var(--color-gray-200);
    border-bottom: 1px solid var(--color-gray-100);
    justify-content: center;
    padding: 0 var(--padding-xl);
    top: 0;
    z-index: 99;
    position: sticky;
    text-align: left;
    font-size: var(--font-size-xs);
    color: var(--gray-300);
    font-family: var(--badge-for-small-size);
  }
  .page-title-child {
    height: 62px;
    width: 1378px;
    position: absolute;
    margin: 0 !important;
    top: -20px;
    right: -889px;
    z-index: 1;
  }
  .aprenda-a-programar {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    line-height: 24px;
    font-weight: 500;
    font-family: inherit;
    z-index: 2;
  }
  .page-title {
    width: 272px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .icon {
    height: 12px;
    width: 12px;
    position: relative;
  }
  .home {
    overflow: hidden;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
  }
  .breadcrumblink,
  .home {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs);
  }
  .breadcrumbseparator-icon {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 20px;
  }
  .text2 {
    position: relative;
    line-height: 20px;
    font-weight: 500;
    display: inline-block;
    min-width: 31px;
  }
  .breadcrumblink1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .breadcrumbseparator-icon1 {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 20px;
  }
  .text3 {
    position: relative;
    line-height: 20px;
    display: inline-block;
    min-width: 91px;
  }
  .breadcrumblink2,
  .simple-with-slashesdesktop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .breadcrumblink2 {
    color: var(--color-gainsboro-100);
  }
  .simple-with-slashesdesktop {
    border-radius: var(--br-7xs);
    gap: 14.3px;
    z-index: 2;
    font-size: var(--font-size-4xs);
    color: #8d8b91;
  }
  .page-header {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .bg-icon {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
  }
  .progress-indicator-icon,
  .progress-track-icon {
    height: 12px;
    width: 13.3px;
    position: relative;
    z-index: 1;
  }
  .progress-indicator-icon {
    height: 13px;
    width: 10.1px;
    min-height: 13px;
  }
  .progress-track-icon1 {
    height: 12px;
    width: 13.3px;
    position: relative;
    z-index: 1;
  }
  .timestamp {
    height: 9px;
    position: relative;
    letter-spacing: 0.08em;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    min-width: 30px;
    white-space: nowrap;
    z-index: 1;
  }
  .time-display {
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
  }
  .progress-area,
  .progress-bar,
  .time-display {
    display: flex;
    align-items: flex-start;
  }
  .progress-bar {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .progress-area {
    width: 129.9px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5.5px 0 0;
    box-sizing: border-box;
  }
  .active-bar {
    position: absolute;
    top: 11px;
    left: 0;
    border-radius: var(--br-980xl);
    background-color: var(--rose-600);
    width: 200px;
    height: 4px;
  }
  .right-touch-area {
    position: absolute;
    top: 6px;
    left: 192px;
    border-radius: 50%;
    background-color: var(--white-white);
    width: 12px;
    height: 12px;
    z-index: 1;
  }
  .slider-touch-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 224px;
    height: 24px;
  }
  .default-bar1 {
    height: 4px;
    flex: 1;
    position: relative;
    background-color: var(--color-darkgray-100);
  }
  .default-bar,
  .default-bar1,
  .range-slider {
    border-radius: var(--br-980xl);
  }
  .default-bar {
    position: absolute;
    top: 11px;
    left: 0;
    width: 257px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 9px;
    box-sizing: border-box;
    z-index: 2;
  }
  .range-slider {
    height: 24px;
    flex: 1;
    position: relative;
    min-width: 167px;
    z-index: 1;
  }
  .volume-label {
    height: 9px;
    position: relative;
    letter-spacing: 0.08em;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    min-width: 30px;
    white-space: nowrap;
    z-index: 1;
  }
  .player-controls,
  .volume-control {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .volume-control {
    flex-direction: column;
    padding: var(--padding-5xs-5) 0 0;
  }
  .player-controls {
    flex: 1;
    flex-direction: row;
    gap: var(--gap-5xs);
    min-width: 281px;
    max-width: 100%;
  }
  .speed-symbol-icon {
    width: 14px;
    height: 10px;
    position: relative;
    z-index: 1;
  }
  .speed-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xs-5) 0 0;
  }
  .default-bar2 {
    position: absolute;
    top: 4.03px;
    left: 0.1px;
    border-radius: var(--br-980xl);
    background-color: var(--color-darkgray-100);
    width: 57.9px;
    height: 4px;
  }
  .right-touch-area1 {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: var(--gray-300);
    width: 12px;
    height: 12px;
    z-index: 1;
  }
  .speed-bar {
    height: 12px;
    flex: 1;
    position: relative;
  }
  .range-slider1 {
    border-radius: var(--br-980xl);
    padding: var(--padding-6xs) 5px var(--padding-7xs) var(--padding-6xs);
    z-index: 1;
  }
  .range-slider1,
  .speed-control {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .badge-icon {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    bottom: -7px;
    left: -6.8px;
    z-index: 1;
  }
  .text4 {
    margin-top: -4px;
    position: relative;
    line-height: 16px;
    font-weight: 500;
    display: inline-block;
    min-width: 9px;
  }
  .badge,
  .badge-element {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .badge {
    height: 8px;
    border-radius: 2px;
    background-color: var(--rose-600);
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
    z-index: 2;
  }
  .badge-element {
    position: relative;
  }
  .detail-symbol-icon {
    width: 9px;
    height: 9px;
    position: relative;
    z-index: 1;
  }
  .detail-icon {
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
  }
  .badges,
  .detail-icon,
  .video-details {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .badges {
    flex-direction: row;
    gap: 16px;
  }
  .video-details {
    flex-direction: column;
    padding: var(--padding-9xs) 0 0;
  }
  .playback-speed,
  .player {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .playback-speed {
    width: 149.1px;
    align-items: flex-start;
    gap: 29.1px;
    text-align: center;
    font-size: 6px;
    color: var(--color-whitesmoke-100);
    font-family: var(--badge-for-small-size);
  }
  .player {
    flex: 1;
    align-items: flex-end;
    padding: var(--padding-5xs) var(--padding-xs);
    box-sizing: border-box;
    position: relative;
    gap: 21px;
    min-height: 347px;
    max-width: 100%;
  }
  .progress {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: var(--color-crimson-100);
  }
  .title1 {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 600;
    display: inline-block;
    min-width: 18px;
  }
  .content1 {
    margin: 0 !important;
    position: absolute;
    top: 12px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-2xs);
    z-index: 1;
  }
  .circle-xs {
    height: 40px;
    width: 40px;
    border-radius: var(--br-980xl);
    border: 4px solid var(--gray-100);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: var(--gap-3xs);
  }
  .elapsed-time,
  .title2 {
    position: relative;
    display: inline-block;
  }
  .title2 {
    line-height: 24px;
    font-weight: 500;
    min-width: 102px;
  }
  .elapsed-time {
    line-height: 10px;
    min-width: 16px;
  }
  .timer-symbol-icon {
    width: 3px;
    height: 3px;
    position: relative;
  }
  .time-elapsed,
  .timer-icon {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .timer-icon {
    flex-direction: column;
    padding: 3.5px 0 0;
  }
  .time-elapsed {
    flex-direction: row;
    gap: var(--gap-7xs);
  }
  .min {
    position: relative;
    line-height: 10px;
    display: inline-block;
    min-width: 28px;
  }
  .time-display1 {
    flex-direction: row;
    gap: var(--gap-7xs);
    font-size: var(--font-size-5xs);
    font-family: var(--font-montserrat);
  }
  .time-display1,
  .time-indicator,
  .title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .time-indicator {
    flex-direction: column;
    font-size: var(--badge-for-small-size-size);
    color: var(--gray-400);
  }
  .title {
    flex-direction: row;
    gap: var(--gap-xs);
  }
  .collapse-symbol-icon {
    width: 6px;
    height: 3px;
    position: relative;
    object-fit: contain;
  }
  .collapse-icon,
  .header {
    display: flex;
    align-items: flex-start;
  }
  .collapse-icon {
    flex-direction: column;
    justify-content: flex-start;
    padding: 18.5px 0 0;
  }
  .header {
    align-self: stretch;
    background-color: var(--color-gray-200);
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-5xs) var(--padding-xs);
    gap: var(--gap-xl);
  }
  .form-fieldscheckbox-input {
    height: 12px;
    width: 12px;
    position: relative;
    border-radius: var(--br-9xs);
    overflow: hidden;
    flex-shrink: 0;
  }
  .viso-geral-do-curso-desenvolv {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-2xs);
  }
  .label1,
  .label2 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .label1 {
    flex: 1;
  }
  .label2 {
    width: 52px;
    font-size: var(--font-size-6xs);
    color: var(--color-darkgray-200);
    text-align: right;
    display: inline-block;
    flex-shrink: 0;
  }
  .class,
  .label,
  .label-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .label-parent {
    flex-direction: row;
    gap: var(--gap-3xs);
  }
  .class,
  .label {
    flex-direction: column;
  }
  .class {
    flex-direction: row;
    align-items: center;
    padding: 0 var(--padding-mini) 0 var(--padding-xs);
    gap: var(--gap-5xs);
  }
  .option-input {
    margin: 0;
    height: 18px;
    width: 12px;
  }
  .repositrio-do-curso {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-2xs);
  }
  .label3 {
    flex: 1;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .class1,
  .label3,
  .label4 {
    align-self: stretch;
  }
  .label4 {
    width: 52px;
    position: relative;
    font-size: var(--font-size-6xs);
    letter-spacing: 0.01em;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-darkgray-200);
    text-align: right;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 0;
  }
  .class1 {
    flex: 1;
    background-color: #242428;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) var(--padding-xs);
    gap: var(--gap-4xs);
  }
  .form-fieldscheckbox-input1 {
    width: 12px;
    height: 12px;
    position: relative;
    border-radius: var(--br-9xs);
    border: 1px solid var(--gray-300);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
  }
  .input-elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0 0;
  }
  .boas-prticas-do-suporte {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-2xs);
  }
  .label5,
  .label6 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .label5 {
    flex: 1;
  }
  .label6 {
    width: 52px;
    font-size: var(--font-size-6xs);
    color: var(--color-darkgray-200);
    text-align: right;
    display: inline-block;
    flex-shrink: 0;
  }
  .checkbox-options,
  .checkbox-pair {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .checkbox-pair {
    gap: var(--gap-4xs);
  }
  .checkbox-options {
    padding: 0 var(--padding-mini) 0 var(--padding-xs);
  }
  .form-fieldscheckbox-input2 {
    width: 12px;
    height: 12px;
    position: relative;
    border-radius: var(--br-9xs);
    border: 1px solid var(--gray-300);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
  }
  .form-fieldscheckbox-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-7xs) 0 0;
  }
  .terminais {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-2xs);
  }
  .label7,
  .label8 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 24px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .label7 {
    flex: 1;
  }
  .label8 {
    width: 52px;
    font-size: var(--font-size-6xs);
    color: var(--color-darkgray-200);
    text-align: right;
    display: inline-block;
    flex-shrink: 0;
  }
  .checkbox-options1,
  .frame-parent {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-parent {
    gap: var(--gap-4xs);
  }
  .checkbox-options1 {
    padding: 0 var(--padding-mini) 0 var(--padding-xs);
  }
  .content2 {
    align-self: stretch;
    flex: 1;
    flex-direction: column;
    padding: 18px 0;
    gap: 8.3px;
    color: var(--gray-400);
  }
  .aulas,
  .body,
  .content2,
  .tab-label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .aulas {
    height: 347px;
    width: 295px;
    border-radius: var(--br-7xs);
    background-color: #19191c;
    flex-direction: column;
    padding: 0 0 130px;
    box-sizing: border-box;
    min-width: 295px;
    font-size: var(--font-size-5xs);
    color: var(--color-crimson-100);
    font-family: var(--badge-for-small-size);
  }
  .body,
  .tab-label {
    align-self: stretch;
    flex-direction: row;
  }
  .body {
    gap: 22px;
    max-width: 100%;
  }
  .tab-label {
    width: 100%;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 20px;
    padding: 0 30px;
    box-sizing: border-box;
    font-family: var(--badge-for-small-size);
    font-weight: 500;
    font-size: var(--sm-medium-size);
    color: var(--color-whitesmoke-100);
    min-width: 79px;
  }
  .avatar-icon1,
  .house-icon {
    height: 14px;
    width: 14px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .house-icon {
    position: relative;
    display: none;
  }
  .avatar-icon1 {
    border-radius: var(--br-980xl);
    object-fit: contain;
  }
  .avatar-icon1,
  .stars-icon,
  .status {
    position: relative;
    display: none;
  }
  .stars-icon {
    height: 10px;
    width: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .status {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--blue-500);
  }
  .placeholder1 {
    align-self: stretch;
    flex: 1;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 500;
  }
  .placeholder {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-10xs-5);
    gap: var(--gap-6xs);
  }
  .chevron-right-icon,
  .x-lg-icon {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .chevron-right-icon {
    height: 10px;
    width: 10px;
    display: none;
  }
  .x-lg-icon {
    height: 8px;
    width: 8px;
  }
  .close-icon {
    height: 14px;
    width: 14px;
    border-radius: var(--br-980xl);
    background-color: var(--blue-200);
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .badge-and-tag-small,
  .badge1 {
    flex-direction: row;
    justify-content: flex-start;
  }
  .badge-and-tag-small {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-980xl);
    background-color: var(--blue-100);
    display: flex;
    align-items: center;
    padding: var(--padding-12xs) var(--padding-10xs);
    gap: var(--gap-12xs);
  }
  .badge1 {
    width: 25px;
    display: none;
    align-items: flex-start;
  }
  .border-bottom {
    align-self: stretch;
    height: 2px;
    position: relative;
    background-color: var(--rose-600);
  }
  .nav-active-link {
    width: 131px;
    border-radius: var(--br-7xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xs) 0 0;
    box-sizing: border-box;
    gap: var(--gap-xs);
    font-size: var(--badge-for-small-size-size);
    color: var(--blue-500);
  }
  .house-icon1,
  .placeholder2 {
    position: relative;
    display: none;
  }
  .house-icon1 {
    height: 14px;
    width: 14px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .placeholder2 {
    align-self: stretch;
    width: 45px;
    letter-spacing: 0.01em;
    line-height: 20px;
    font-weight: 500;
  }
  .avatar-icon2 {
    height: 14px;
    width: 14px;
    border-radius: var(--br-980xl);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
  }
  .avatar-icon2,
  .stars-icon1,
  .status1 {
    position: relative;
    display: none;
  }
  .stars-icon1 {
    height: 10px;
    width: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .status1 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--blue-500);
  }
  .placeholder4 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 500;
  }
  .placeholder3 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-10xs-5);
    gap: var(--gap-6xs);
  }
  .chevron-right-icon1,
  .x-lg-icon1 {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .chevron-right-icon1 {
    height: 10px;
    width: 10px;
    display: none;
  }
  .x-lg-icon1 {
    height: 8px;
    width: 8px;
  }
  .badge-and-tag-small1,
  .close-icon1 {
    border-radius: var(--br-980xl);
    flex-direction: row;
    align-items: center;
  }
  .close-icon1 {
    height: 14px;
    width: 14px;
    background-color: var(--blue-200);
    display: none;
    justify-content: center;
  }
  .badge-and-tag-small1 {
    align-self: stretch;
    background-color: var(--blue-100);
    display: flex;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-10xs);
    gap: var(--gap-12xs);
  }
  .badge2,
  .inline {
    display: none;
    flex-direction: row;
  }
  .badge2 {
    height: 18px;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--badge-for-small-size-size);
    color: var(--blue-500);
  }
  .inline {
    align-self: stretch;
    width: 83px;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .chevron-down-icon {
    height: 12px;
    width: 12px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .content3,
  .tab-content {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .content3 {
    flex: 1;
    align-items: center;
    padding: var(--padding-xs) var(--padding-base);
    gap: var(--gap-5xs);
  }
  .tab-content {
    height: 44px;
    align-items: flex-start;
    padding: 0 73px 0 72.8px;
    box-sizing: border-box;
  }
  .border-bottom1 {
    align-self: stretch;
    height: 2px;
    position: relative;
  }
  .nav-link {
    flex: 1;
    border-radius: var(--br-7xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 170px;
  }
  .house-icon2 {
    height: 14px;
    width: 14px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .placeholder5 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 20px;
    font-weight: 500;
  }
  .avatar-icon3 {
    height: 14px;
    width: 14px;
    border-radius: var(--br-980xl);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
  }
  .avatar-icon3,
  .stars-icon2,
  .status2 {
    position: relative;
    display: none;
  }
  .stars-icon2 {
    height: 10px;
    width: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .status2 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--blue-500);
  }
  .placeholder7 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 500;
  }
  .placeholder6 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-10xs-5);
    gap: var(--gap-6xs);
  }
  .chevron-right-icon2,
  .x-lg-icon2 {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .chevron-right-icon2 {
    height: 10px;
    width: 10px;
    display: none;
  }
  .x-lg-icon2 {
    height: 8px;
    width: 8px;
  }
  .badge-and-tag-small2,
  .close-icon2 {
    border-radius: var(--br-980xl);
    align-items: center;
  }
  .close-icon2 {
    height: 14px;
    width: 14px;
    background-color: var(--blue-200);
    display: none;
    flex-direction: row;
    justify-content: center;
  }
  .badge-and-tag-small2 {
    align-self: stretch;
    background-color: var(--blue-100);
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-10xs);
    gap: var(--gap-12xs);
  }
  .badge-and-tag-small2,
  .badge3,
  .inline1 {
    display: flex;
    flex-direction: row;
  }
  .badge3 {
    height: 18px;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: var(--badge-for-small-size-size);
  }
  .inline1 {
    height: 20px;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .chevron-down-icon1 {
    height: 12px;
    width: 12px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .content4 {
    width: 135px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-base);
    box-sizing: border-box;
    gap: var(--gap-5xs);
  }
  .border-bottom2 {
    width: 135px;
    height: 2px;
    position: relative;
    background-color: var(--gray-200);
    display: none;
  }
  .nav-link-hover {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-7xs);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--rose-600);
  }
  .house-icon3 {
    height: 14px;
    width: 14px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .placeholder8 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 20px;
    font-weight: 500;
  }
  .avatar-icon4 {
    height: 14px;
    width: 14px;
    border-radius: var(--br-980xl);
    overflow: hidden;
    flex-shrink: 0;
    object-fit: contain;
  }
  .avatar-icon4,
  .stars-icon3,
  .status3 {
    position: relative;
    display: none;
  }
  .stars-icon3 {
    height: 10px;
    width: 10px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .status3 {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--blue-500);
  }
  .placeholder10 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 16px;
    font-weight: 500;
  }
  .placeholder9 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 var(--padding-10xs-5);
    gap: var(--gap-6xs);
  }
  .chevron-right-icon3,
  .x-lg-icon3 {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .chevron-right-icon3 {
    height: 10px;
    width: 10px;
    display: none;
  }
  .x-lg-icon3 {
    height: 8px;
    width: 8px;
  }
  .badge-and-tag-small3,
  .close-icon3 {
    border-radius: var(--br-980xl);
    flex-direction: row;
    align-items: center;
  }
  .close-icon3 {
    height: 14px;
    width: 14px;
    background-color: var(--blue-200);
    display: none;
    justify-content: center;
  }
  .badge-and-tag-small3 {
    align-self: stretch;
    background-color: var(--blue-100);
    display: flex;
    justify-content: flex-start;
    padding: var(--padding-12xs) var(--padding-10xs);
    gap: var(--gap-12xs);
  }
  .badge4,
  .inline2 {
    flex-direction: row;
  }
  .badge4 {
    height: 18px;
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0.5;
    font-size: var(--badge-for-small-size-size);
    color: var(--blue-500);
  }
  .inline2 {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .chevron-down-icon2 {
    height: 12px;
    width: 12px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .content5 {
    width: 135px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-xs) var(--padding-mini);
    box-sizing: border-box;
    gap: var(--gap-5xs);
  }
  .border-bottom3 {
    width: 135px;
    height: 2px;
    position: relative;
    background-color: var(--gray-200);
    display: none;
  }
  .nav-disabled-link {
    align-self: stretch;
    flex: 1;
    border-radius: var(--br-7xs);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .esse-curso-tem,
  .navstabs {
    align-self: stretch;
    font-size: var(--sm-medium-size);
  }
  .navstabs {
    border-bottom: 1px solid var(--color-gray-100);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-3xs);
    font-family: var(--badge-for-small-size);
  }
  .esse-curso-tem {
    position: relative;
    letter-spacing: -0.05em;
    line-height: 20px;
    font-family: var(--font-roboto);
    color: var(--color-gainsboro-100);
    text-align: left;
  }
  .content-body,
  .page-header-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .content-body {
    align-self: stretch;
    gap: 40.5px;
    font-size: var(--badge-for-small-size-size);
    color: var(--gray-300);
    font-family: var(--font-montserrat);
  }
  .page-header-parent {
    width: 944px;
    gap: 58px;
  }
  .main-content,
  .verso-dark-mode {
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
  }
  .main-content {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl);
    text-align: left;
    font-size: var(--sm-medium-size);
    color: var(--color-gainsboro-100);
    font-family: var(--badge-for-small-size);
  }
  .verso-dark-mode {
    width: 1366px;
    background-color: #121214;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 69px;
    gap: 19px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 975px) {
    .navbardesktop {
      gap: 53px;
    }
    .aulas {
      flex: 1;
    }
    .body {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 700px) {
    .navbardesktop {
      gap: 26px;
    }
    .page-header,
    .player {
      flex-wrap: wrap;
    }
    .player {
      min-width: 100%;
    }
    .content-body {
      gap: var(--gap-xl);
    }
    .page-header-parent {
      gap: 29px;
    }
  }
  @media screen and (max-width: 450px) {
    .links {
      display: none;
    }
    .content {
      width: 702px;
    }
    .player-controls {
      flex-wrap: wrap;
    }
    .tab-content {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  