.video-uploader-wrapper{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    .video-uploader{
        display: flex;
        align-items: center;
        gap: 10%;
    }
}
